.bttn {
  &--prim,
  &--thi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25em;
    color: $color-fore;
    transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &--prim {
    background: $color-prim;
  }
  &--thi {
    background: $color-thi;
    &:hover {
      background: lighten($color-thi, 10%);
    }
  }
}
