.footer {
  // background: $color-thi;
  &_wrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: $h5;
  }
  @media screen and (min-width: $size-md) {
    &_wrapper {
      padding-top: 3rem;
      padding-bottom: 3rem;
      font-size: $h4;
    }
  }
}
