* {
  box-sizing: border-box;
}
html {
  font-family: $font;
  font-size: 18px;
  font-weight: normal;
  line-height: $line-lg;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  background: $color-fore url(~assets/img/noise.svg);
  background-blend-mode: color;
  background-size: 20%;
  color: $color-back;
  font-size: clamp(1rem, 0.3vw + 1rem, 1rem * $font-resizer);
}
.txt {
  &--lighter {
    color: darken($color-fore, 40%);
  }
}
#gs-viewport {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#gs-scroll-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: $size-lg) {
}
@media screen and (max-width: $size-sm) and (orientation: landscape),
  screen and (max-width: $size-md) {
}
@media screen and (max-width: $size-xs) {
}
