.intro {
  display: flex;
  flex-direction: column;
  height: 50vh;
  max-height: $size-md;
  justify-content: flex-end;
  &_title {
    span {
      display: block;
    }
  }
  &_subtitle {
    margin: 1rem 0;
    font-size: $normal;
  }
  @media screen and (max-width: $size-lg) {
  }
  @media screen and (max-width: $size-sm) and (orientation: landscape),
    screen and (max-width: $size-md) {
  }
  @media screen and (max-width: $size-xs) {
    &_title {
      font-size: $h3;
    }
  }
}
