.section {
  padding-top: clamp(1rem, 2vw, 4rem);
  padding-bottom: clamp(1rem, 2vw, 4rem);
}
.wrapper {
  width: 100%;
  max-width: $size-lg;
  margin: auto;
  padding-left: clamp(1rem, 2vw, 4rem);
  padding-right: clamp(1rem, 2vw, 4rem);
}
