.navbar {
  display: flex;
  justify-content: flex-end;
  padding-top: clamp(1rem, 2vw, 4rem);
  padding-bottom: clamp(1rem, 2vw, 4rem);
  &_menu {
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    &__link {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
}
