.screen {
  width: 100%;
  height: $size-sm;
  border: 2px solid $color-fore;
  border-radius: 0.25rem;
  background: no-repeat top;
  background-size: 120%;
  background-image: url(~assets/img/colliers.png);
  &:first-of-type {
    margin-top: calc($size-xs / 3);
  }
  &.kmdtechsummit {
    background-image: url(~assets/img/kmdtechsummit.png);
  }
  &_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
