/* Font hierarchy */
h1,
h2 {
  font-weight: bold;
  line-height: $line-sm;
}
h3,
h4,
h5 {
  font-weight: bold;
  line-height: $line-md;
}
h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4,
.txt--h4 {
  font-size: $h4;
}

h5,
.txt--h5 {
  font-size: $h5;
}

.txt--lg {
  font-size: larger;
}

p,
.txt--md {
  font-size: $normal;
}

small,
.txt--sm {
  font-size: $small;
  line-height: $line-md;
}
