// TYPOGRAPHY
$font: 'Bayon', sans-serif;
$font-h: 'Bayon', sans-serif;
$font-resizer: 1.3;

$line-sm: 1;
$line-md: 1.2;
$line-lg: 1.4;

$h1: clamp(7.594rem, 0.3vw + 1rem, 7.594rem * $font-resizer);
$h2: clamp(5.063rem, 0.3vw + 1rem, 5.063rem * $font-resizer);
$h3: clamp(3.375rem, 0.3vw + 1rem, 3.375rem * $font-resizer);
$h4: clamp(2.25rem, 0.3vw + 1rem, 2.25rem * $font-resizer);
$h5: clamp(1.5rem, 0.3vw + 1rem, 1.5rem * $font-resizer);
$normal: clamp(1rem, 0.3vw + 1rem, 1rem * $font-resizer);
$small: clamp(0.667rem, 0.3vw + 1rem, 0.667rem * $font-resizer);

// COLORS
$color-prim: #ff3300;
$color-sec: #5c53bd;
$color-thi: #0500d8;
$color-fore: #f2f2f2;
$color-back: #191919;

// QUERIES
$size-xs: 30rem; //480px
$size-sm: 43rem; //688px
$size-md: 62rem; //992px
$size-lg: 82rem; //1312px
$size-xl: 100rem; //1600px
