.work {
  min-height: 100vh;
  padding-top: 4rem;
  background: $color-back;
  background: $color-back url(~assets/img/noise.svg);
  background-blend-mode: color-burn;
  background-size: 6%;
  color: $color-fore;
  &_title {
    margin: 5rem 0 0;
  }
  &_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: end;
    align-items: end;
    margin-top: 18vw;
    &:first-of-type {
      margin-top: 0;
    }
    &:nth-child(odd) {
      grid-template-columns: 1fr;
      .work_info {
        order: 2;
        justify-self: end;
        text-align: right;
      }
    }
    &:last-of-type {
      padding-bottom: 16vw;
    }
  }
  &_screen {
    position: relative;
    display: flex;
    width: 100%;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    &__overlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      content: '';
      top: 2px;
      left: 2px;
      z-index: 2;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      font-size: $h4;
      opacity: 0;
      background: rgba($color-thi, 0.95);
      border-radius: 0.25rem;
      color: $color-fore;
      cursor: pointer;
      span {
        display: flex;
        justify-content: center;
        align-items: baseline;
        i {
          margin-left: 1rem;
        }
      }
      &:hover {
        opacity: 1;
      }
    }
    &.mobile {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 25%;
    }
    &.small {
      width: 80%;
      margin-left: auto;
    }
    &__img {
      width: 100%;
      border: 2px solid $color-fore;
      border-radius: 0.25rem;
    }
    &__wrapper {
      position: relative;
      width: 100%;
    }
  }
  &_info {
    width: 100%;
    max-width: max-content;
    padding: 1rem 0;
    border-top: 1px solid $color-fore;
    line-height: $line-sm;
    h2,
    h3 {
      font-size: $h4;
      line-height: 1;
    }
    p {
      margin-top: 0.5rem;
    }
  }
  @media screen and (min-width: $size-md) {
    &_wrapper {
      grid-template-columns: 1.4fr 0.6fr;
      gap: 3rem;
      &:nth-child(odd) {
        grid-template-columns: 0.6fr 1.4fr;
        .work_info {
          justify-self: end;
          order: unset;
          text-align: left;
        }
      }
    }
    &_screen {
      &.mobile {
        left: -1rem;
        bottom: -10%;
      }
    }
    &_info {
      h2 {
        font-size: $h2;
      }
      h3 {
        font-size: $h3;
      }
    }
  }
  @media screen and (min-width: $size-xl) {
    &_wrapper {
      gap: 4rem;
      transform: translateX(-5%);
      &:nth-child(odd) {
        transform: translateX(10%);
      }
    }
  }
}
