<template>
  <footer class="footer">
    <a
      href="mailto:s.k.tomaszewska@gmail.com"
      class="wrapper footer_wrapper"
      target="_blank"
      rel="noopener noreferrer"
    >
      Zapraszam do kontaktu &#128231;
    </a>
  </footer>
</template>
