<template>
  <nav class="wrapper navbar">
    <div class="navbar_menu">
      <a
        href="https://www.linkedin.com/in/sylwia-tomaszewska/"
        class="navbar_menu__link"
        >LinkedIn <i class="ico-out"></i
      ></a>
      <a
        href="mailto:s.k.tomaszewska@gmail.com"
        class="navbar_menu__link"
        target="_blank"
        rel="noopener noreferrer"
      >
        Napisz do mnie
      </a>
    </div>
  </nav>
</template>
