@font-face {
  font-family: 'ico';
  src:  url('fonts/ico.eot?fh5z84');
  src:  url('fonts/ico.eot?fh5z84#iefix') format('embedded-opentype'),
    url('fonts/ico.ttf?fh5z84') format('truetype'),
    url('fonts/ico.woff?fh5z84') format('woff'),
    url('fonts/ico.svg?fh5z84#ico') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-instagram:before {
  content: "\e913";
}
.ico-instagram-round:before {
  content: "\e914";
}
.ico-level:before {
  content: "\e911";
}
.ico-hash:before {
  content: "\e912";
}
.ico-out:before {
  content: "\e910";
}
.ico-play:before {
  content: "\e900";
}
.ico-live:before {
  content: "\e901";
}
.ico-arrow:before {
  content: "\e902";
}
.ico-backward:before {
  content: "\e903";
}
.ico-calendar:before {
  content: "\e904";
}
.ico-forward:before {
  content: "\e905";
}
.ico-facebook-round:before {
  content: "\e906";
}
.ico-linkedin-round:before {
  content: "\e907";
}
.ico-twitter-round:before {
  content: "\e908";
}
.ico-youtube-round:before {
  content: "\e909";
}
.ico-location:before {
  content: "\e90a";
}
.ico-radio-button-blank:before {
  content: "\e90b";
}
.ico-check-box:before {
  content: "\e90c";
}
.ico-check-box-blank:before {
  content: "\e90d";
}
.ico-radio-button:before {
  content: "\e90e";
}
.ico-indeterminate-check-box:before {
  content: "\e90f";
}
.ico-facebook:before {
  content: "\ea90";
}
.ico-twitter:before {
  content: "\ea96";
}
.ico-youtube:before {
  content: "\ea9d";
}
.ico-linkedin:before {
  content: "\eaca";
}
