@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fh5z84');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fh5z84#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fh5z84') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fh5z84') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fh5z84##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-instagram {
  &:before {
    content: $ico-instagram; 
  }
}
.ico-instagram-round {
  &:before {
    content: $ico-instagram-round; 
  }
}
.ico-level {
  &:before {
    content: $ico-level; 
  }
}
.ico-hash {
  &:before {
    content: $ico-hash; 
  }
}
.ico-out {
  &:before {
    content: $ico-out; 
  }
}
.ico-play {
  &:before {
    content: $ico-play; 
  }
}
.ico-live {
  &:before {
    content: $ico-live; 
  }
}
.ico-arrow {
  &:before {
    content: $ico-arrow; 
  }
}
.ico-backward {
  &:before {
    content: $ico-backward; 
  }
}
.ico-calendar {
  &:before {
    content: $ico-calendar; 
  }
}
.ico-forward {
  &:before {
    content: $ico-forward; 
  }
}
.ico-facebook-round {
  &:before {
    content: $ico-facebook-round; 
  }
}
.ico-linkedin-round {
  &:before {
    content: $ico-linkedin-round; 
  }
}
.ico-twitter-round {
  &:before {
    content: $ico-twitter-round; 
  }
}
.ico-youtube-round {
  &:before {
    content: $ico-youtube-round; 
  }
}
.ico-location {
  &:before {
    content: $ico-location; 
  }
}
.ico-radio-button-blank {
  &:before {
    content: $ico-radio-button-blank; 
  }
}
.ico-check-box {
  &:before {
    content: $ico-check-box; 
  }
}
.ico-check-box-blank {
  &:before {
    content: $ico-check-box-blank; 
  }
}
.ico-radio-button {
  &:before {
    content: $ico-radio-button; 
  }
}
.ico-indeterminate-check-box {
  &:before {
    content: $ico-indeterminate-check-box; 
  }
}
.ico-facebook {
  &:before {
    content: $ico-facebook; 
  }
}
.ico-twitter {
  &:before {
    content: $ico-twitter; 
  }
}
.ico-youtube {
  &:before {
    content: $ico-youtube; 
  }
}
.ico-linkedin {
  &:before {
    content: $ico-linkedin; 
  }
}

