$icomoon-font-family: 'ico' !default;
$icomoon-font-path: '~/assets/ico/fonts' !default;

$ico-instagram: '\e913';
$ico-instagram-round: '\e914';
$ico-level: '\e911';
$ico-hash: '\e912';
$ico-out: '\e910';
$ico-play: '\e900';
$ico-live: '\e901';
$ico-arrow: '\e902';
$ico-backward: '\e903';
$ico-calendar: '\e904';
$ico-forward: '\e905';
$ico-facebook-round: '\e906';
$ico-linkedin-round: '\e907';
$ico-twitter-round: '\e908';
$ico-youtube-round: '\e909';
$ico-location: '\e90a';
$ico-radio-button-blank: '\e90b';
$ico-check-box: '\e90c';
$ico-check-box-blank: '\e90d';
$ico-radio-button: '\e90e';
$ico-indeterminate-check-box: '\e90f';
$ico-facebook: '\ea90';
$ico-twitter: '\ea96';
$ico-youtube: '\ea9d';
$ico-linkedin: '\eaca';
