<template>
  <div id="gs-viewport">
    <div class="noise"></div>
    <div id="gs-scroll-container">
      <Navbar />
      <main>
        <section class="section wrapper intro gs-fade-in-children">
          <h1 class="intro_title gs-fade-in-delayed">
            <span class="gs-overflow-hidden"><span>UX/UI Design</span></span>
            <span class="gs-overflow-hidden">
              <span> Web Development</span>
            </span>
            <span class="intro_subtitle">
              with &#128153; by Sylwia Tomaszewska
            </span>
          </h1>
        </section>
        <section class="section work">
          <div class="wrapper work_wrapper">
            <div class="work_info gs-fade-in">
              <h3>Red Bull</h3>
              <p>11-2018 <span class="txt--lighter">|</span> Web design</p>
            </div>
            <div class="work_screen gs-fade-in">
              <img src="~assets/img/svindal.png" class="work_screen__img" />
            </div>
          </div>
          <div class="wrapper work_wrapper">
            <div class="work_screen gs-fade-in">
              <img src="~assets/img/colliers.png" class="work_screen__img" />
            </div>
            <div class="work_info gs-fade-in">
              <h3>Colliers</h3>
              <h4>koncept</h4>
              <p>10-2018 <span class="txt--lighter">|</span> Web design</p>
            </div>
          </div>
          <div class="wrapper work_wrapper">
            <div class="work_info gs-fade-in">
              <h3>Culture Trip</h3>
              <h4>koncept</h4>
              <p>09-2018 <span class="txt--lighter">|</span> Web design</p>
            </div>
            <div class="work_screen gs-fade-in">
              <img
                src="~assets/img/culture-trip.png"
                class="work_screen__img"
              />
            </div>
          </div>
          <div class="wrapper work_wrapper">
            <a
              href="https://warszawskiedniinformatyki.pl/cfp"
              class="work_screen gs-fade-in"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="~assets/img/wdi21.png" class="work_screen__img" />
              <div class="work_screen__overlay">
                <span>Zobacz <i class="ico-out"></i></span>
              </div>
            </a>
            <div class="work_info gs-fade-in">
              <h3>Warszawskie Dni Informatyki</h3>
              <p>Web design & development</p>
            </div>
          </div>
          <div class="wrapper work_wrapper">
            <div class="work_info gs-fade-in">
              <h3>Tech Job Stars</h3>
              <p>UX/UI design & development</p>
            </div>
            <div class="work_screen__wrapper">
              <a
                href="https://techjobstars.pl/"
                class="work_screen small gs-fade-in"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="~assets/img/tjs.png" class="work_screen__img" />
                <div class="work_screen__overlay">
                  <span>Zobacz <i class="ico-out"></i></span>
                </div>
              </a>
              <div class="work_screen mobile gs-fade-in">
                <img
                  src="~assets/img/tjs-mobile.png"
                  class="work_screen__img"
                />
                <div class="work_screen__overlay">
                  <span>Zobacz <i class="ico-out"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="wrapper work_wrapper">
            <a
              href="https://targipracyit.pl/"
              class="work_screen gs-fade-in"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="~assets/img/tpit.png" class="work_screen__img" />
              <div class="work_screen__overlay">
                <span>Zobacz <i class="ico-out"></i></span>
              </div>
            </a>
            <div class="work_info gs-fade-in">
              <h3>Targi Pracy IT</h3>
              <p>Web design & development</p>
            </div>
          </div>
          <div class="wrapper work_wrapper">
            <div class="work_info gs-fade-in">
              <h3>Data Science Summit</h3>
              <p>Web design & development</p>
            </div>
            <a
              href="https://dssconf.pl/pl/"
              class="work_screen gs-fade-in"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="~assets/img/dss.png" class="work_screen__img" />
              <div class="work_screen__overlay">
                <span>Zobacz <i class="ico-out"></i></span>
              </div>
            </a>
          </div>
        </section>
      </main>
      <Footer />
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    // this.$scrollerProxy('.gs-scroll-container')
    this.$momentumScroll()
    this.$anim('.gs-fade-in')
    this.$delayedAnim('.gs-fade-in-delayed')
    this.$childrenAnim('.gs-fade-in-children')
    this.$scaleY('.gs-scale-y')
  },
}
</script>
